[Desktop Entry]
Encoding=UTF-8
Name=Počítačové systémy a sítě 1.A (Drvota, 2023⧸24)/5. Téma – Aplikace a Bezpečnost/Phishing kvíz
Type=Link
URL=https://phishingquiz.withgoogle.com/?hl=en-GB
Icon=text-html
