[Desktop Entry]
Encoding=UTF-8
Name=Programování 1.A sk1(Koupil, 2023⧸24)/URL odkazy a zdroje/Archiv video-výkladu z distančního vzdělávání 202021
Type=Link
URL=https://deltassie-my.sharepoint.com/:f:/g/personal/koupja_delta-skola_cz/EtujyJVqsvZBjIsYYWB6bDMBJbs9AGO8KH7AbQu4CZgG6w?e=iuOZlH
Icon=text-html
