[Desktop Entry]
Encoding=UTF-8
Name=Programování 1.A sk1(Koupil, 2023⧸24)/URL odkazy a zdroje/Cvičení ke kurzu na repl.it
Type=Link
URL=https://replit.com/team/23PR11As1
Icon=text-html
