[Desktop Entry]
Encoding=UTF-8
Name=Programování 1.A sk1(Koupil, 2023⧸24)/URL odkazy a zdroje/Raptor (Download latest version níže na stránce)
Type=Link
URL=https://raptor.martincarlisle.com/
Icon=text-html
