[Desktop Entry]
Encoding=UTF-8
Name=Programování 1.A sk1(Koupil, 2023⧸24)/URL odkazy a zdroje/TopGun - vstupní projekty
Type=Link
URL=https://replit.com/teams/join/fnyaxraibaxpeqzqayywnuyxczhedhci-23TopGunVstup
Icon=text-html
