[Desktop Entry]
Encoding=UTF-8
Name=Programování 1.A sk1(Koupil, 2023⧸24)/URL odkazy a zdroje/Trénink programování na codewars
Type=Link
URL=http://www.codewars.com/r/WJBrpQ
Icon=text-html
