[Desktop Entry]
Encoding=UTF-8
Name=Programování 1.A sk1(Koupil, 2023⧸24)/URL odkazy a zdroje/Visual Studio Community
Type=Link
URL=https://visualstudio.microsoft.com/cs/vs/community/
Icon=text-html
