[Desktop Entry]
Encoding=UTF-8
Name=Programování 1.A sk1(Koupil, 2023⧸24)/URL odkazy a zdroje/Zdrojové kódy z hodin (GIT)
Type=Link
URL=https://github.com/Delta-SSIE/23-24_Kl_PR1_1As1_Vyuka
Icon=text-html
