[Desktop Entry]
Encoding=UTF-8
Name=Český jazyk a literatura 1.A (2023⧸24)/Český jazyk - mluvnice 1. čtvrtletí/Příklad slangu hráčů počítačových her
Type=Link
URL=https://edu.ceskatelevize.cz/video/3167-mluva-hracu-pocitacovych-her
Icon=text-html
