[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 2.ročník (2024⧸25)/Molekulová fyzika/Simulace - změny skupenství a jejich struktura
Type=Link
URL=https://phet.colorado.edu/sims/html/states-of-matter-basics/latest/states-of-matter-basics_en.html
Icon=text-html
