[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 2.ročník (2024⧸25)/Mechanické kmitání/Foucaultovo kyvadlo
Type=Link
URL=https://cs.wikipedia.org/wiki/Foucaultovo_kyvadlo
Icon=text-html
