[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 2.ročník (2024⧸25)/Mechanické kmitání/Složené kmity
Type=Link
URL=https://koupil.delta-www.cz/fyzika/kmity/slozene-kmity/
Icon=text-html
