[Desktop Entry]
Encoding=UTF-8
Name=Programování 2.A, 2.B sk2 (Koupil, 2024⧸25)/URL a odkazy/Archivy videovýkladu
Type=Link
URL=https://deltassie-my.sharepoint.com/:f:/g/personal/koupja_delta-skola_cz/EkiczZgfYJNLoTSPzsCv4J0BsGGkjT7rnYt1y1g2EckdCQ?e=XTpwyq
Icon=text-html
