[Desktop Entry]
Encoding=UTF-8
Name=Programování 2.A, 2.B sk2 (Koupil, 2024⧸25)/URL a odkazy/Kód z videovýkladu
Type=Link
URL=https://github.com/delta-jan-koupil/PR2_videovyklad
Icon=text-html
