[Desktop Entry]
Encoding=UTF-8
Name=Programování 2.A, 2.B sk2 (Koupil, 2024⧸25)/URL a odkazy/Zdrojové kódy (GitHub)
Type=Link
URL=https://github.com/Delta-SSIE/24-25_Kl_PR2_2As1
Icon=text-html
