[Desktop Entry]
Encoding=UTF-8
Name=Výpočetní technika 2/MS Excel/Základní ovládání MS Excelu
Type=Link
URL=https://www.youtube.com/watch?v=G6srjs8mdtg
Icon=text-html
