[Desktop Entry]
Encoding=UTF-8
Name=Výpočetní technika 2/Access - vlastní databáze/POLE SE SEZNAMEM
Type=Link
URL=https://support.office.com/cs-cz/article/p%C5%99id%C3%A1n%C3%AD-seznamu-nebo-pole-se-seznamem-70abf4a9-0439-4885-9099-b9fa83517603
Icon=text-html
