[Desktop Entry]
Encoding=UTF-8
Name=Počítačové systémy a sítě 1.A (Drvota, 2023⧸24)/Úvod/Binary marble adding machine - dřevěná sčítačka
Type=Link
URL=https://woodgears.ca/marbleadd/index.html
Icon=text-html
