[Desktop Entry]
Encoding=UTF-8
Name=Počítačové systémy a sítě 1.A (Drvota, 2023⧸24)/Úvod/Jak správně NASTAVIT a NAINSTALOVAT Windows 11？ (1527)
Type=Link
URL=https://www.youtube.com/watch?v=D-N9fxyn-hY
Icon=text-html
