[Desktop Entry]
Encoding=UTF-8
Name=Počítačové systémy a sítě 1.A (Drvota, 2023⧸24)/Úvod/Windows 11 - 8x věci co mi vadí (a co vadí vám？)
Type=Link
URL=https://www.youtube.com/watch?v=OuDcmV2MRZ4
Icon=text-html
