[Desktop Entry]
Encoding=UTF-8
Name=Český jazyk a literatura 1.A (2023⧸24)/Orientální literatury/Literatura oblasti Mezopotámie
Type=Link
URL=https://www.dumy.cz/stahnout/141506
Icon=text-html
