[Desktop Entry]
Encoding=UTF-8
Name=Programování 1.A sk1(Koupil, 2023⧸24)/5. Základní algoritmické konstrukce - Cyklus FOR/Ukázka 6 - Generování dominových kostek
Type=Link
URL=https://repl.it/@JanKoupil/For-DominoveKostky
Icon=text-html
