[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/2. Téma – CSS/Pseudo třídy
Type=Link
URL=https://www.w3schools.com/css/css_pseudo_classes.asp
Icon=text-html
