[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/2. Téma – CSS/Pseudo elementy
Type=Link
URL=https://www.w3schools.com/css/css_pseudo_elements.asp
Icon=text-html
