[Desktop Entry]
Encoding=UTF-8
Name=Přírodní vědy 1.A, 1.B (Eko, Bi, Ch) (2023⧸24)/2 - Stavba atomu, chemická vazba/Posouvací škála
Type=Link
URL=https://htwins.net/scale2/
Icon=text-html
