[Desktop Entry]
Encoding=UTF-8
Name=Počítačové systémy a sítě 1.A (Drvota, 2023⧸24)/1. Téma – Informace/Hra (převod BinDec)
Type=Link
URL=https://studio.code.org/projects/applab/iukLbcDnzqgoxuu810unLw
Icon=text-html
