[Desktop Entry]
Encoding=UTF-8
Name=Počítačové systémy a sítě 1.A (Drvota, 2023⧸24)/1. Téma – Informace/Videa – Language of Coins (problematika předávání informací)
Type=Link
URL=https://www.youtube.com/watch?v=p0ASFxKS9sg&list=PLS3iL7hsj4DH7nHzhWa2JJMu21UO1pJCf&ab_channel=ArtoftheProblem
Icon=text-html
