[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/CSS3 Media Queries (český text)
Type=Link
URL=https://www.vzhurudolu.cz/prirucka/css3-media-queries
Icon=text-html
