[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Flexbox – Adventure (hra)
Type=Link
URL=https://codingfantasy.com/games/flexboxadventure/play
Icon=text-html
