[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Flexbox – Froggyflex (hra)
Type=Link
URL=http://flexboxfroggy.com/#cs
Icon=text-html
