[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Grid – Grid Attack (hra)
Type=Link
URL=https://codingfantasy.com/games/css-grid-attack/play
Icon=text-html
