[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Grid – stručný přehled
Type=Link
URL=https://css-tricks.com/snippets/css/complete-guide-grid/
Icon=text-html
