[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Grid – Introducing auto-fill and auto-fit
Type=Link
URL=https://gridbyexample.com/video/series-auto-fill-auto-fit/
Icon=text-html
