[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Grid – Content sizing keywords
Type=Link
URL=https://gridbyexample.com/video/content-sizing/
Icon=text-html
