[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Grid – Introducing minmax()
Type=Link
URL=https://gridbyexample.com/video/series-minmax/
Icon=text-html
