[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Grid – Gridgarden (hra)
Type=Link
URL=https://cssgridgarden.com/#cs
Icon=text-html
