[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/NPM Průvodce začátky a základními příkazy
Type=Link
URL=https://www.vzhurudolu.cz/prirucka/npm
Icon=text-html
