[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Prezentace – Flexbox
Type=Link
URL=https://webdev.slides.com/coltsteele/mysql-99-108-114
Icon=text-html
