[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Tailwind CSS (dokumentace)
Type=Link
URL=https://tailwindcss.com/
Icon=text-html
