[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Tailwind tutorial
Type=Link
URL=https://www.geeksforgeeks.org/tailwind-css/?ref=shm
Icon=text-html
