[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/4. Téma – Rozšíření CSS/Using media queries
Type=Link
URL=https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries
Icon=text-html
