[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 1.ročník (2023⧸24)/Atomy, Jádra, Záření/Instalace simulátoru elektrárny
Type=Link
URL=http://jesim.aspone.cz/download/jesim2006-setup-1-3.exe
Icon=text-html
