[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 1.ročník (2023⧸24)/Atomy, Jádra, Záření/Jaderná fúze - co se děje ve Slunci
Type=Link
URL=https://www.google.cz/search?q=p-p+cyklus&espv=2&biw=1822&bih=997&tbm=isch&imgil=YSUyNqJ3WMWooM%253A%253Bj6WXDALW50v8NM%253Bhttps%25253A%25252F%25252Fcs.wikipedia.org%25252Fwiki%25252FProton-protonov%25252525C3%25252525BD_cyklus&source=iu&pf=m&fir=YSUyNqJ3WMWooM%253A%252Cj6WXDALW50v8NM%252C_&usg=__tb9ErMICkDfmfAuQbKYIaQUJ5tI%3D&ved=0ahUKEwjRq7CZ8qHMAhVkIJoKHbqzAYkQyjcIUg&ei=f-kZV5HwN-TA6AS654bICA#imgrc=YSUyNqJ3WMWooM%3A
Icon=text-html
