[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 1.ročník (2023⧸24)/Atomy, Jádra, Záření/Pohled na reaktor
Type=Link
URL=https://cs.wikipedia.org/wiki/Jadern%C3%BD_reaktor#/media/File:Aktivn%C3%AD_z%C3%B3na_reaktoru_VR-1.JPG
Icon=text-html
