[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 1.ročník (2023⧸24)/Atomy, Jádra, Záření/Princip jaderné nálože
Type=Link
URL=https://cs.wikipedia.org/wiki/Jadern%C3%A1_zbra%C5%88#/media/File:Princip_jaderne_naloze.svg
Icon=text-html
