[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 1.ročník (2023⧸24)/Atomy, Jádra, Záření/Schéma jaderné elektrárny
Type=Link
URL=http://fyzika.jreichl.com/data/Mikro_4jaderka_soubory/image163.jpg
Icon=text-html
