[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 1.ročník (2023⧸24)/Atomy, Jádra, Záření/Stabilní a nestabilní jádra - údolí stability
Type=Link
URL=http://www.observatory.cz/news-images/old/110-val1.jpg
Icon=text-html
