[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 1.ročník (2023⧸24)/Atomy, Jádra, Záření/Tokamak - budoucí fúzní elektrárna
Type=Link
URL=https://www.google.cz/search?q=tokamak&tbm=isch&imgil=2cCjcBmhIi5APM%253A%253B0qNZGPWLUUgueM%253Bhttp%25253A%25252F%25252Fwww.industrytap.com%25252Fiter-nuclear-fusion-tokamak-could-be-the-way-to-solve-worlds-energy-problems%25252F4650&source=iu&pf=m&fir=2cCjcBmhIi5APM%253A%252C0qNZGPWLUUgueM%252C_&usg=__K5knlBDVDhpA4UX2qB7hyvqITzU%3D&biw=1822&bih=997&ved=0ahUKEwiJxNf_8qHMAhVnMZoKHe9LCWUQyjcIOA&ei=VuoZV4nBHOfi6ATvl6WoBg#imgrc=2cCjcBmhIi5APM%3A
Icon=text-html
