[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 1.ročník (2023⧸24)/Atomy, Jádra, Záření/Vazebná energie jednoho nukleonu
Type=Link
URL=http://fyzika.jreichl.com/data/Mikro_4jaderka_soubory/image019.png
Icon=text-html
