[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/Úvod/CSS validátor
Type=Link
URL=https://jigsaw.w3.org/css-validator/
Icon=text-html
