[Desktop Entry]
Encoding=UTF-8
Name=WWW 2. ročník (Mottl, 2024⧸25)/Úvod/Kódy z hodin (Github repozitář)
Type=Link
URL=https://github.com/Delta-SSIE/24-25_Mo_WWW2
Icon=text-html
