[Desktop Entry]
Encoding=UTF-8
Name=Počítačové systémy a sítě 1.A (Drvota, 2023⧸24)/0. Téma – Ergonomie a Historie IT/Historie VT (YT)
Type=Link
URL=https://www.youtube.com/watch?v=-M6lANfzFsM
Icon=text-html
