[Desktop Entry]
Encoding=UTF-8
Name=Český jazyk a literatura 1.A (2023⧸24)/Bible/Bible - píseň Jana Nedvěda
Type=Link
URL=https://youtu.be/8Z9nizgFMiU?feature=shared
Icon=text-html
