[Desktop Entry]
Encoding=UTF-8
Name=Český jazyk a literatura 1.A (2023⧸24)/Bible/Bible pro začátečníky - animované příběhy
Type=Link
URL=https://youtube.com/playlist?list=PLlJ_JH6xrWMCWRPfdPsOnrtshxejfivTR&feature=shared
Icon=text-html
