[Desktop Entry]
Encoding=UTF-8
Name=Český jazyk a literatura 1.A (2023⧸24)/Rozbor doporučených knih k ústní maturitě/Rozbor díla Hamlet (Martin Hilský)
Type=Link
URL=https://youtu.be/DyHBdLHE90U?feature=shared
Icon=text-html
