[Desktop Entry]
Encoding=UTF-8
Name=Databáze 2. ročník (2024⧸25)/6. Základní úvod do DML, představení příkazů, INSERT, UPDATE, DELETE, MERGE/MERGE
Type=Link
URL=https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/MERGE.html#GUID-5692CCB7-24D9-4C0E-81A7-A22436DC968F
Icon=text-html
