[Desktop Entry]
Encoding=UTF-8
Name=Databáze 2. ročník (2024⧸25)/6. Základní úvod do DML, představení příkazů, INSERT, UPDATE, DELETE, MERGE/MERGE - dokumentace Oracle 21c
Type=Link
URL=https://docs.oracle.com/en/database/oracle/oracle-database/21/sqlrf/MERGE.html
Icon=text-html
