[Desktop Entry]
Encoding=UTF-8
Name=Přírodní vědy 1.A, 1.B (Eko, Bi, Ch) (2023⧸24)/4 - Oxidy/Procvičování názvosloví oxidů
Type=Link
URL=https://www.nazvoslovi.cz/test
Icon=text-html
