[Desktop Entry]
Encoding=UTF-8
Name=Počítačové systémy a sítě 1.A (Drvota, 2023⧸24)/4. Téma – Nastavení a konfigurace MS Windows/Batch Script Tutorial (Web)
Type=Link
URL=https://www.tutorialspoint.com/batch_script/index.htm
Icon=text-html
