[Desktop Entry]
Encoding=UTF-8
Name=Počítačové systémy a sítě 1.A (Drvota, 2023⧸24)/4. Téma – Nastavení a konfigurace MS Windows/Video – Windows Power Toys
Type=Link
URL=https://youtu.be/DiktANpO5eA
Icon=text-html
