[Desktop Entry]
Encoding=UTF-8
Name=Fyzika 2.ročník (2024⧸25)/Cyklický děj, tepelné stroje/Animace k motorům
Type=Link
URL=https://koupil.delta-www.cz/fyzika/molekulovka/tepelne_stroje/
Icon=text-html
