[Desktop Entry]
Encoding=UTF-8
Name=Programování 1.A sk1(Koupil, 2023⧸24)/6. Pole/Ukázka 4 - řešení
Type=Link
URL=https://repl.it/@JanKoupil/SoucetPrvkuPoleNaSudePozici
Icon=text-html
