[Desktop Entry]
Encoding=UTF-8
Name=Přírodní vědy 1.A, 1.B (Eko, Bi, Ch) (2023⧸24)/Úvod/Kalkulačka uhlíkové stopy
Type=Link
URL=https://www.uhlikovastopa.cz/cs/osobni-uhlikova-stopa
Icon=text-html
