[Desktop Entry]
Encoding=UTF-8
Name=Přírodní vědy 1.A, 1.B (Eko, Bi, Ch) (2023⧸24)/Úvod/Živočichové - článek pro inspiraci
Type=Link
URL=https://zoom.iprima.cz/priroda/top-8-nejstarsi-zvirata-sveta-zila-v-dobe-komenskeho
Icon=text-html
