[Desktop Entry]
Encoding=UTF-8
Name=Počítačové systémy a sítě 1.A (Drvota, 2023⧸24)/3. Téma – Operační systémy/Video – Drivery (ovladače)
Type=Link
URL=https://www.youtube.com/watch?v=t-aRlwLI-b0&ab_channel=Techquickie
Icon=text-html
