[Desktop Entry]
Encoding=UTF-8
Name=Český jazyk a literatura 1.A (2023⧸24)/Počátky slovesného umění/Počátky slovesného umění
Type=Link
URL=https://www.dumy.cz/stahnout/20975
Icon=text-html
