[Desktop Entry]
Encoding=UTF-8
Name=Český jazyk a literatura 1.A (2023⧸24)/Český jazyk - mluvnice a sloh 2. čtvrtletí/Interaktivní procvičování pravopisu
Type=Link
URL=https://www.ecestina.cz/diktaty-a-pravopisna-cviceni-pro-stredni--skoly/
Icon=text-html
